
{% load static tailwind_tags %}
<html lang="en">
<head>
   <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
</head>
<body class="bg-gray-900">
    <div class="flex justify-center items-center">
      <div
        class="relative h-[80vh] w-[80vw] m-auto bg-gradient-to-r from-[#2C5364] to- [#203A43] to-[#0F2027] max-[600px]:bg-sky-300 rounded-xl flex max-md:flex">

        <div
          class="bg-black bg-opacity-25 w-fit h-fit m-auto p-5 rounded-lg relative"
        >
          <form action="" method="post" name="frm">
            {% csrf_token %} {% for field in form %}
            <div class="grid grid-cols-2">
              <div class="text-xl mt-2 text-white font-thin">
                {{field.label}}
              </div>
              <div class="mt-2">{{field}}</div>
            </div>
            {%endfor%}
            <div class="inline-block">
              <input
                type="reset"
                name="reset"
                id=""
                value="Reset"
                class="mt-3 font-thin text-xl ml-2 text-gray-200 cursor-pointer hover:rounded-3xl p-1.5 m-auto hover:bg-blue-700 duration-1000"/>
              <input
                type="submit"
                name="submit"
                value="Login"
                class="mt-3 font-thin text-xl ml-9 text-gray-200 cursor-pointer hover:rounded-3xl p-1.5 m-auto hover:bg-green-700 duration-1000"/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div align="center">
      {% for i in messages%}
      <script>
        alert("{{i}}");
      </script>
      {% endfor %}
    </div>
  </body>
  <script>
    var form_fields = document.getElementsByTagName("input");
    form_fields[1].placeholder = "UserName..";
    form_fields[2].placeholder = "Password..";
    for (var field in form_fields) {
      form_fields[field].className += " form-control";
    }
  </script>
</html>
