<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body {
    background: #6753;
    
}
h1 {
    background: #568;
    padding: 30px;
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
input[type="submit"]{
  display: block;
  background: #98E;
  margin-top: 10px;
}
.signup {
    background: white;
    margin-left : 35px;
    margin-right : 50%;
    padding: 10px;
}
</style>
<body>
<div class="signup">
    <h1>signup</h1><hr>
    <form action="" method="post">
       {% csrf_token %}
     {{ form }}
        <input type="submit" name="" value="SignUp" id="">
    </form>
  </div>
</body>
</html>