{% extends "hod_nav.html" %}
{% load static tailwind_tags  %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
{% block body %}
{% tailwind_css %}
<div class=" bg-slate-200">
    <div class=" min-h-screen bg-slate-200 py-6  sm:py-12">
    <center><span class="border text-4xl text-yellow-800 px-6 pt-10 pb-8 font-bold w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Assign Subject</span></center>
    <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
            <a href = "../sub_details" class ="text-blue-400 ml-80 text-xl" >History>></a>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Employee Name</label>
        <input class="border w-full h-10 px-3 mb-5 rounded-md" list="section-list" name="name" placeholder="employee username" required>

        <datalist id="section-list">
            {% for user in users %}
                <option value="{{ user.username }}">
            {% endfor %}
            </datalist>
        <label for="name">Branch</label>
        <input class="border w-full h-10 px-3 mb-5 rounded-md" type="text" name="branch" required placeholder="Branch">

        <label for="name">Year</label>
        <input class="border w-full h-10 px-3 mb-5 rounded-md" type="number" name="year" placeholder="Year">

        <label for="name">Section</label>
        <input class="border w-full h-10 px-3 mb-5 rounded-md" type="number" name="section" placeholder="Section">

        <label for="name">Subject</label>
        <input class="border w-full h-10 px-3 mb-5 rounded-md" type="text" name="subject" placeholder="Subject">

        <input class="ml-24 bg-green-500 hover:bg-blue-700 shadow-xl text-white uppercase text-sm font-semibold px-16 py-3 rounded" type="submit" name="submit" value="Submit">
    </form>
    </div>
    </div>
</div>
{% endblock %}