{% extends "emp_nav.html" %} 
{% load static tailwind_tags %}    
   <!-- {%block css %}<script src="https://cdn.tailwindcss.com"></script>{% endblock %} -->
    <title>{% block title %}leaves{% endblock %}</title>
    {% block body %}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    {% tailwind_css %}
    <div class=" bg-slate-200">
        <div class=" bg-slate-200 py-6  sm:py-12">
        <center> <span class="border text-4xl text-yellow-800 font-bold px-6 pt-10 pb-8  w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">LEAVE REPORT</span></center>
        <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
        <form action=""  method="post">
            {% csrf_token %} 
            <!-- {{ forms }} -->
            <label for="name">Full Name</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="name" placeholder="" id="">
            <label for="Communication Skills:">Communication Skills:</label>
            <select required name="CommunicationSkills" class="border w-full h-10 px-3 mb-5 rounded-md" id="leave" >
                <option value="excellent">excellent</option>
                <option value="good">good</option>
                <option value="satisfactory">satisfactory</option>
                <option value="improvement">improvement </option>
                <option value="below"> below</option>
            </select>

            <label for="Teamwork and Collaboration">Teamwork and Collaboration</label>
            <select required name="TeamworkandCollaboration" class="border w-full h-10 px-3 mb-5 rounded-md" id="leave" >
                <option value="excellent">excellent</option>
                <option value="good">good</option>
                <option value="satisfactory">satisfactory</option>
                <option value="improvement">improvement </option>
                <option value="below"> below</option>
            </select>

            <label for="Job Knowledge and Skills:">Job Knowledge and Skills:</label>
            <select required name="JobKnowledgeandSkills" class="border w-full h-10 px-3 mb-5 rounded-md" id="leave" >
                <option value="excellent">excellent</option>
                <option value="good">good</option>
                <option value="satisfactory">satisfactory</option>
                <option value="improvement">improvement </option>
                <option value="below"> below</option>
            </select>

            <label for="Productivity and Time Management:">Productivity and Time Management:</label>
            <select required name="ProductivityandTimeManagement" class="border w-full h-10 px-3 mb-5 rounded-md" id="leave" >
                <option value="excellent">excellent</option>
                <option value="good">good</option>
                <option value="satisfactory">satisfactory</option>
                <option value="improvement">improvement </option>
                <option value="below"> below</option>
            </select>

            <label for="Professionalism and Work Ethic:">Professionalism and Work Ethic:</label>
            <select required name="ProfessionalismandWorkEthic" class="border w-full h-10 px-3 mb-5 rounded-md" id="leave" >
                <option value="excellent">excellent</option>
                <option value="good">good</option>
                <option value="satisfactory">satisfactory</option>
                <option value="improvement">improvement </option>
                <option value="below"> below</option>
            </select>
            <label for="enter reason">Additional comments</label>
            <textarea required name="comments" id="textbox" class="border w-full  px-3 mb-5 rounded-md"></textarea>

            <label for="name">officer Name</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="officername" placeholder="" id="">
            <label for="name">Position</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="Position" placeholder="" id="">
            <label for="startdate">Date</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="date" required name="date" id="">
            <input type="submit" name="submit" id="submit" value="Submit" class="ml-24 bg-green-500 hover:bg-blue-700 shadow-xl text-white uppercase text-sm font-semibold px-16 py-3 rounded">

        </form>
    
{%endblock %}