{% load static tailwind_tags %}
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Faculty</title>
    {% tailwind_css %}
    {% comment %} <div class=" bg-black text-white p-3 rounded-full sticky">
        <div class="text-2xl">
        Gayatri Vidya Parishad
        <div class="text-sm flex" style ="float:right;">
        <a href="../hr_home"class="mr-10 hover:text-yellow-400 "> Home </a>  
        <a href="../update_employees"class="mr-10 hover:text-yellow-400 "> Recent Employees </a>  
        <a href="../employees"class="mr-10 hover:text-yellow-400 ">Employees </a>  
        <a href="../assign_sub"class="mr-10 hover:text-yellow-400 "> Assign Subject </a>
        <a href="admin_login.html"class="mr-10 hover:text-yellow-400 ">Syllabus Updates</a>        
        <a href="../add_salary"class="mr-10 hover:text-yellow-400 ">add Salary </a>        
        <a href="../leaves_report"class="mr-10 hover:text-yellow-400 ">leave report</a>        
        <form class="logout-link"   action="{% url 'accounts:logout' %}" method = "post">
            {% csrf_token %}
            <button class="mr-10 hover:text-yellow-400 " type="submit">logout</button> 
       </form>     
    </div> 
    </div>
    </div> {% endcomment %}




<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <nav class="bg-gray-800">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div>
          <a href="#" class="text-white text-xl font-bold">Gayatri Vidya Parishad</a>
        </div>
        <div class="hidden md:block">
          <ul class="flex space-x-4">
            <li>
              <a href="../hr_home" class="text-white hover:text-gray-300">Home</a>
            </li>
            <li>
              <a href="../update_employees " class="text-white hover:text-gray-300">Recent Employees </a>
            </li>
            <li>
              <a href="../employees" class="text-white hover:text-gray-300">Employees</a>
            </li>
            <li>
              <a href="../assign_sub " class="text-white hover:text-gray-300">Assign Subject </a>
            </li>
            <li>
              <a href="../syllabus " class="text-white hover:text-gray-300">Syllabus Updates</a>
            </li>
            <li>
              <a href="../add_salary " class="text-white hover:text-gray-300">add Salary</a>
            </li>
            <li>
              <a href="../leaves_report" class="text-white hover:text-gray-300">leave report</a>
            </li>
            <form class="logout-link"   action="{% url 'accounts:logout' %}" method = "post">
            {% csrf_token %}
            <button class="mr-10 hover:text-yellow-400 text-white" type="submit">logout</button> 
            </form>  
          </ul>
        </div>
      </div>
    </div>
  </nav>
{% block body %}
{%  endblock %}