{% load static tailwind_tags %}
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Faculty</title>
    {% tailwind_css %}
    <div class=" bg-black text-white p-3 rounded-full sticky">
        <div class="text-2xl">
        Gayatri Vidya Parishad
        <div class="text-sm flex" style ="float:right;">
        <a href="../hr_home"class="mr-10 hover:text-yellow-400 "> Home </a>  
        <a href="../update_employees"class="mr-10 hover:text-yellow-400 "> Recent Employees </a>  
        <a href="../employees"class="mr-10 hover:text-yellow-400 ">Employees </a>  
        <a href="../assign_sub"class="mr-10 hover:text-yellow-400 "> Assign Subject </a>
        <a href="admin_login.html"class="mr-10 hover:text-yellow-400 ">Syllabus Updates</a>        
        <a href="../add_salary"class="mr-10 hover:text-yellow-400 ">add Salary </a>        
        <a href="../leaves_report"class="mr-10 hover:text-yellow-400 ">leave report</a>        
        <form class="logout-link"   action="{% url 'accounts:logout' %}" method = "post">
            {% csrf_token %}
            <button class="mr-10 hover:text-yellow-400 " type="submit">logout</button> 
       </form>     
    </div> 
    </div>
    </div>
{% block body %}
{%  endblock %}