 {% load static tailwind_tags %}
    <title>{% block title %}nav_bar{% endblock %}</title>
    {% tailwind_css %}

        {% comment %}<div class=" bg-black p-3   text-white rounded-xl ">
        <div class="text-2xl">
        Gayatri Vidya Parishad
        <div class="text-lg flex mb-2 mt-0 " style ="float:right;">
        <a href=" / " class="mr-10 hover:bg-slate-800 p-1">Home</a>  
        <a href=" user_login/ " class="mr-10 hover:bg-slate-800 p-1">Faculty</a>
        <a href=" hr_login/ "class="mr-10 hover:bg-slate-800 p-1">Admin</a> 
        <!-- <form class="logout-link"   action="{% url 'accounts:logout' %}" method = "post">
            {% csrf_token %}
            <button class="mr-10 hover:bg-slate-800 p-3" type="submit">logout</button> 
        </form>   -->
        </div> 
        </div>
        </div>
  {% endcomment %}
     
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <nav class="bg-gray-800">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div>
          <a href="#" class="text-white text-xl font-bold">Gayatri Vidya Parishad</a>
        </div>
        <div class="hidden md:block">
          <ul class="flex space-x-4">
            <li>
              <a href="/" class="text-white hover:text-gray-300">Home</a>
            </li>
            <li>
              <a href="user_login/ " class="text-white hover:text-gray-300">Faculty</a>
            </li>
            <li>
              <a href=" hr_login/ " class="text-white hover:text-gray-300">Manager</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% block body %} {% endblock %}
	