{% load static tailwind_tags %}

    <title>{% block title %}Document{% endblock %}</title>
    
{% block body %}
    {% tailwind_css %}
  <div class="relative  ml-5">
    <h1 class="border text-4xl text-yellow-800 px-6 pt-10 pb-8 bg-white w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Salary Details</h1>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-6 py-3">name</th>
                <th class="px-6 py-3">employee id</th>
                <th class="px-6 py-3">Amount</th>
                <th class="px-6 py-3">date</th>
                <th class="px-6 py-3">Transaction Time</th>
            </tr>
        </thead>
        {% for i in salary %}
        <tbody class="">
        <tr>
            <td class="px-6 py-3" >{{ i.username }}</td>
            <td class="px-6 py-3" >{{ i.emp_id }}</td>
            <td class="px-6 py-3" >{{ i.amount }}</td>
            <td class="px-6 py-3" >{{ i.date }}</td>
            <td class="px-6 py-3" >{{ i.Time }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}