{% extends "emp_nav.html" %}
{% load static tailwind_tags %}
{%  block title%} <title> Subject Updates </title>{% endblock %}
{% block body %}
{% tailwind_css %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> 

    <center><div class="border text-4xl text-yellow-800 px-6 pt-10 pb-8  w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">This is Subject Updates</div></center>
    <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md flex">
        <div id="main" class="grid grid-rows-4 grid-flow-col gap-8 justify-center">
            <div class=" w-26  h-12">BRANCH</div> 
            <div class=" w-26 h-12">YEAR</div>
            <div class=" w-26 h-12">SECTION</div>
            <div class=" w-26 h-12">SUBJECT</div>
            <div class=" w-26  h-12">:</div> 
            <div class=" w-26 h-12">:</div>
            <div class=" w-26 h-12">:</div>
            <div class=" w-26 h-12">:</div>
            <div class=" w-26 h-12"> {{ subject.branch }} </div>
            <div class=" w-26 h-12"> {{ subject.year }} </div>
            <div class=" w-26 h-12"> {{ subject.section }} </div>
            <div class=" w-26 h-12"> {{ subject.subject }} </div>
        </div>
        </div>   
{% endblock %} 
