
{% extends "emp_nav.html" %} 
{% load static tailwind_tags %}    
   <!-- {%block css %}<script src="https://cdn.tailwindcss.com"></script>{% endblock %} -->
    <title>{% block title %}leaves{% endblock %}</title>
    
    {% block body %}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    {% tailwind_css %}

    <div class=" bg-slate-200">
        <div class=" bg-slate-200 py-6  sm:py-12">
        <center> <span class="border text-4xl text-yellow-800 font-bold px-6 pt-10 pb-8  w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Syllabus Updates</span></center>
        <div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
        <form action=""  method="post">
            {% csrf_token %} 
            <!-- {{ forms }} -->
            <label for="name">Subject Name</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="subject" placeholder="Subject Name" id="">
            <label for="name">Branch</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="branch" placeholder="Branch" id="">
            <label for="name">Section</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="section" placeholder="Section" id="">
            <label for="name">Year</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="number" required name="year" placeholder="Year" id="">
            <label for="startdate">Start Date</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="date" required name="startdate" placeholder="Start Date" id="">
            <label for="enddate">Number of Units Completed</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="units" placeholder="Units" id="">
            <label for="select reason">Current Unit</label>
            <input  class="border w-full h-10 px-3 mb-5 rounded-md" type="text" required name="current" placeholder="Current Unit" id="">
            <input type="submit" name="submit" id="submit" value="Submit" class="ml-24 bg-green-500 hover:bg-blue-700 shadow-xl text-white uppercase text-sm font-semibold px-16 py-3 rounded">
        </form>
    </div>
</div>
{%endblock %}